[submodule "L2/S3/I31-Algorithmique/diffie-hellman-key-ex/diffie-hellman-key-ex"]
	path = L2/S3/I31-Algorithmique/diffie-hellman-key-ex/diffie-hellman-key-ex
	url = https://github.com/dxkkxn/diffie-hellman-key-ex
[submodule "L3/S5/I53-Theorie-des-langages/automates"]
	path = L3/S5/I53-Theorie-des-langages/automates
	url = https://github.com/dxkkxn/automates
[submodule "L3/S5/I53-Theorie-des-langages/TP4-automates"]
	path = L3/S5/I53-Theorie-des-langages/TP4-automates
	url = https://github.com/dxkkxn/automates
[submodule "L3/S5/I52-POO-IHM/IHM/projet-modelisation-isometrique"]
	path = L3/S5/I52-POO-IHM/IHM/projet-modelisation-isometrique
	url = https://github.com/dxkkxn/isometric-modeling.git
[submodule "L3/S5/I53-Theorie-des-langages/compilo-pseudoalgo"]
	path = L3/S5/I53-Theorie-des-langages/compilo-pseudoalgo
	url = https://github.com/dxkkxn/compilo-pseudoalgo
